

.user-info-container {
	h2 {
		text-transform: capitalize;
	}

	.filter-container {

		margin-bottom: 20px;
		.title-container {
			height: 40px;
			display: flex;
			align-items: center;
			cursor: pointer;

			i {
				margin-left: 10px;
			}
		}

		.filter-options-container {
			display: flex;
			flex-direction: column;

			span {
				cursor: pointer;
				margin-bottom: 10px;
			}
		}
	}

	.user-item-container {

		.icons-container {
			display: flex;
			align-items: center;
			height: 50px;
		}
	}
}
