

.user-info-container {
	h2 {
		text-transform: capitalize;
	}

	.user-item-container {

		.icons-container {
			display: flex;
			align-items: center;
			height: 50px;

			.delete-icon {
				color: red;
				margin-right: 5px;
			}

			.edit-icon {
				color: rgb(11, 105, 117);
			}
		}
	}
}
