// SCSS entry point

@import './button';
@import './user-list';
@import './variables';

// icon
i {
	cursor: pointer;
}

.delete-icon {
	color: red;
	margin-right: 5px;
}

.edit-icon {
	color: rgb(11, 105, 117);
}

// input
input {
	border: none;
	padding: 10px 0;
	border-bottom: $global-border;
	&:focus {
		outline: none;
	}
}

// table
table {
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 10px 10px;
}